* {
    margin: 0;
}

html, body {
    height: 100%;
    font-family: sans-serif;
}

#__next, #AlgoAppRoot {
    height: 100%;
    display:flex;
}

.clear {
    clear:both;
}

ul.algoDefaultUL, ul.stocksUL {
    border: 2px solid grey;
    padding: 2%;
    display: block;
    list-style-type: none;
    margin-left:2%;
}

ul.stocksUL li.algoStock {
    width:100%
}

ul.stocksUL li.algoStock a.algoTicker {
    padding-bottom:1%;
}

ul.stocksUL li div.algoCharts {
    width:100%;
    padding-top:2%;
}

h3.chart-header {
    font-size: 1em;
    font-weight: normal;
    text-decoration: underline;
    float:left;
    padding:0 0 3% 8%;
}

div.recharts-wrapper {
    float: left;
}

div.recharts-legend-wrapper {
    padding:1% 0 2% 0;
}

li.recharts-legend-item {
    padding:0;
    float:none;
    background: white;
}

#LeftSide {
    background: #434343;
    width: 18%;
    min-height:100%;
    height: 100%;
    float: left;
    color: #d5d5d5;
    padding: .5%;
    position: -webkit-sticky;
    position: sticky;
}

#AlgoLogo h1 {
    padding: 6% 0;
    text-align: center;
    font-variant: all-small-caps;
    font-size: 2em;
    font-weight: bold;
    font-family: Futura, sans-serif;
    color:#e7c503;
}

#AlgoMainMenu button {
    background-color: #85C1E9;
    color: #2c2c2c;
    font-size: 0.8em;
    font-weight: bold;
    margin: 12% 12% 0 12%;
    padding: 3% 4%;
    float: right;
    border-radius: 4px;
    transition-duration: 0.5s;
}

#AlgoMainMenu button:hover {
    background-color: #2c2c2c;
    color: #e7c503;
}

#AlgoMainMenu p {
    padding: 4% 4% 4% 6%;
    clear: both;
}

#RightSide {
    padding-top:1.4%;
    color: #2c2c2c;
    width: 80%;
    min-height:100%;
    height: 100%;
    float: right;
}

#RightSide p.main {
    padding: 2% 0 6% 2%;
}

#RightSide h1 {
    padding: 14px;
    font-size: 1.2em;
}

#stockdata {

}

